<p><%= @coupon.code %></p>
<p><%= @coupon.status %></p>
<p><%= @coupon.promotion.description %></p>
<p><%= @coupon.promotion.discount_rate %></p>
<p><%= @coupon.promotion.coupon_quantity %></p>
<p><%= @coupon.promotion.expiration_date %></p>