<div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
<div class="btn-group" role="group" aria-label="First group">
<%= link_to 'Voltar', root_path, class:"btn btn-secondary"%>
<%= link_to 'Registrar uma promoção', new_promotion_path, class:"btn btn-secondary"%>
</div>
<div class="input-group">
<%= form_with url: search_promotions_path, method: :get do |f|%>
    <%= f.label :query, 'Buscar' %>
    <%= f.text_field :query %>
    <%= f.submit 'Pesquisar', class: 'btn btn-danger' %>
<% end %>
</div>
</div>

<div class="padding">
<% if @promotions.empty? %>
    <h4>Nenhuma promoção cadastrada</h4>
<%end%>

<% @promotions.each do |promotion| %>
<dl class="card">
<h3 class="card-header"><%= link_to promotion.name, promotion %></h3>

    <dt>Descrição</dt>
    <dd><%= promotion.description %></dd>
    <dt>Desconto <small>em porcentagem</small></dt>
    <dd><%= number_to_percentage promotion.discount_rate, separator: ',', precision: 2  %></dd>
</dl>
<%end%>
</div>