<%= link_to 'Voltar', promotions_path%>
<%= link_to 'Editar promoção', edit_promotion_path%>
<%= link_to 'Apagar promoção', promotion_path(@promotion), method: :delete%>
<div class='container'>
<h1><%= @promotion.name %></h1>
<dl>
    <dt><%= Promotion.human_attribute_name(:description)%></dt>
    <dd><%= @promotion.description %></dd>
    <dt><%= Promotion.human_attribute_name(:discount_rate)%> <small>em porcentagem</small></dt>
    <dd><%= number_to_percentage @promotion.discount_rate, precision: 2  %></dd>
    <dt>Código</dt>
    <dd><%= @promotion.code %></dd>
    <dt>Data de término</dt>
    <dd><%= l @promotion.expiration_date %></dd>
    <dt>Quantidade de cupons</dt>
    <dd><%= @promotion.coupon_quantity %></dd>
</dl>
</div>
<div>
<table class='coupons center'>
<tr>
<th> Cupom </th>
<th> Ação </th>

</tr>
<tr>
<% if @promotion.coupons.empty? %>
<td><%= link_to t('.generate_coupons'), generate_coupons_promotion_path(@promotion), method: :post %></td>
<% end %>

<% @promotion.coupons.each do |coupon|%>
<td><p> <%= "#{coupon.code} #{'(desabilitado)' if coupon.disabled? }" %> </p></td>
<% if coupon.active? %>
<td><%= link_to 'Desabilitar', disable_coupon_path(coupon), method: :post %></td>
<% else %>
<td><%= link_to 'Habilitar', active_coupon_path(coupon), method: :post %></td>
<% end %>
</tr>
<% end %>

</table>
</div>