<%= link_to 'Voltar', promotions_path%>
<%= link_to 'Editar promoção', edit_promotion_path%>
<%= link_to 'Apagar promoção', promotion_path(@promotion), method: :delete%>

<%= form_with url: account_detail_promotion_path(@promotion), id:"option-details", method: :get, local: false do |f|%>
    <p><%= f.submit 'Account data' %></p>
    <p><%= f.submit 'Account Approver' %></p>
    <p><%= f.submit 'Account Coupons' %></p>
<% end %>

<div id="account-details">

</div>


<script>
var searchForm = document.querySelector("#option-details")
var promotionDiv = document.querySelector("#account-details")

searchForm.addEventListener("ajax:success", (event) => {
    const [_data, _status, xhr] = event.detail
    const promotion = JSON.parse(xhr.response)
    const click = promotion.click
    promotionDiv.innerHTML = ""
    switch(click){
      case 'Account data':
        promotionDiv.insertAdjacentHTML("beforeend", "<%= j render 'promotions/partials/account_data' %>")
        break;
      case 'Account Approver':
        promotionDiv.insertAdjacentHTML("beforeend", "<%= j render 'promotions/partials/account_approver' %>")
        break;
      case 'Account Coupons':
        promotionDiv.insertAdjacentHTML("beforeend", "<%= j render 'promotions/partials/account_coupons' %>")
    }
})
</script>


