<!DOCTYPE html>
<html>
  <head>
    <title>Sistema de Promoção</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='container' >
  <nav>
  <ul>
    <% if user_signed_in? %>
    <p> Olá! <%= current_user.email%> </p>
      <l1><%= link_to 'Promoções', promotions_path%></l1>
      <l1><%= link_to 'Categorias', product_categories_path%></l1>
      <l1><%= link_to 'Sair', '#' %></l1>
    <% else %>
      <l1><%= link_to 'Cadastrar', new_user_registration_path %></l1>
      <l1><%= link_to 'Entrar', new_user_session_path%></l1>
      <% end %>
      </ul>
  </nav>
  <p><%= flash[:notice] %></p>
  <p><%= flash[:alert] %></p>

  <%= form_with url: search_path, method: :get do |f|%>
    <%= f.label :query, 'Buscar' %>
    <%= f.text_field :query %>
    <%= f.submit 'Pesquisar' %>
<% end %>
    <%= yield %>
  </body>
</html>
